<%= link_to "Home", controller: "home", action: "index" %>

<div class="books show">
  <h2>Show book</h2>

  <table summary="Book detail view">
    <tr>
      <th>Title</th>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= @book.author %></td>
    </tr>
    <tr>
      <th>Publish Date</th>
      <td><%= @book.publish_date %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= @book.price %></td>
    </tr>
    <tr>
            <th>Publisher</th>
            <td><%= @book.publisher %></td>
        </tr>
        <tr>
            <th>Release Date</th>
            <td><%= @book.release_date %></td>
        </tr>
        <tr>
            <th>Pages</th>
            <td><%= @book.pages %></td>
        </tr>
  </table>

</div>
